In [7]:
from pyresparser import ResumeParser
import os
from docx import Document

In [8]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
stopw  = set(stopwords.words('english'))
df =pd.read_csv('job_final.csv')

In [9]:
df['test']=df['Job_Description'].apply(lambda x: ' '.join([word for word in str(x).split() if len(word)>2 and word not in (stopw)]))
df['test']

0       About company: Smart Food Safe Solutions Inc. ...
1       Location Bangalore Experience Years Job Descri...
2       Open Systems International, Inc. (OSI) www.osi...
3       About Job Software Testing Engineer Job Descri...
4       Location: Bangalore Experience: 6Years Skills ...
                              ...
1919    Skills Qualifications: Years experience Strong...
1920    Job TH10519_13189 Posted on: 29th May, 2019Job...
1921    Job Description spend percent lives buildings....
1922    (Job Number: 1905027) Job Title â€“ Web Develo...
1923    marry design engineering language ways produce...
Name: test, Length: 1924, dtype: object

In [4]:
df

,Unnamed: 0,url,Position,Company,Location,Job_Description,test
0,0,https://www.glassdoor.co.in/partner/jobListing...,Software Testing Internship,Smart Food Safe Solutions Inc,– Bengaluru,About the company:\nSmart Food Safe Solutions ...,About company: Smart Food Safe Solutions Inc. ...
1,1,https://www.glassdoor.co.in/partner/jobListing...,Embedded Software Testing,Mobiveil,– Bengaluru,Location : Bangalore\nExperience : 4+ Years\n\...,Location Bangalore Experience Years Job Descri...
2,2,https://www.glassdoor.co.in/partner/jobListing...,Senior Engineer - Software Testing (Bangalore ...,Open Systems International,– Bengaluru,"Open Systems International, Inc. (OSI) www.osi...","Open Systems International, Inc. (OSI) www.osi..."
3,3,https://www.glassdoor.co.in/partner/jobListing...,Software Testing Engineer,Bloom Solutions,– Bengaluru,About the Job\n\nSoftware Testing Engineer\n\n...,About Job Software Testing Engineer Job Descri...
4,4,https://www.glassdoor.co.in/partner/jobListing...,CIEL/SEL/1888: Software testing Engineer,CIEL HR Services,– Bengaluru,Location: Bangalore\nExperience: 3 to 6Years\n...,Location: Bangalore Experience: 6Years Skills ...
...,...,...,...,...,...,...,...
1919,3113,https://www.glassdoor.co.in/partner/jobListing...,Front End Developer,Cuemath,Bengaluru,Skills and Qualifications:\n\n2+ Years of expe...,Skills Qualifications: Years experience Strong...
1920,3115,https://www.glassdoor.co.in/partner/jobListing...,Technology Lead-Sharepoint Developer,Infogain,Bengaluru,Job ID : TH10519_13189\n\nPosted on: 29th of M...,"Job TH10519_13189 Posted on: 29th May, 2019Job..."
1921,3120,https://www.glassdoor.co.in/partner/jobListing...,Senior UI Developer,Siemens PLC,Bengaluru,Job Description\nWe spend 90 percent of\n\nour...,Job Description spend percent lives buildings....
1922,3122,https://www.glassdoor.co.in/partner/jobListing...,Web Developer,Fidelity Investments,Bengaluru,(Job Number: 1905027)\n\nJob Title â€“ Web Dev...,(Job Number: 1905027) Job Title â€“ Web Develo...
1923,3123,https://www.glassdoor.co.in/partner/jobListing...,Front End Developer - (Javascript),Softvision,Bengaluru,We marry design and engineering language in wa...,marry design engineering language ways produce...

In [10]:
##file format should be in .txt , .docx or .pdf only
filed=input('specify the path of the resume (format(.txt, .docx and .pdf))==')

try:
    doc = Document()
    with open(filed, 'r') as file:
        doc.add_paragraph(file.read())
    doc.save("text.docx")
    data1 = ResumeParser('text.docx').get_extracted_data()

except:
    data1 = ResumeParser(filed).get_extracted_data()
    
resume=data1['skills']

specify the path of the resume (format(.txt, .docx and .pdf))==CV.pdf

In [11]:
print(resume)

['Chemicals', 'Css', 'Design', 'Python', 'Testing', 'C++', 'Pyqt', 'Computer science', 'Html', 'Engineering', 'Database', 'Keras', 'Ui', 'Analysis', 'Training', 'Modeling', 'Statistics', 'Opencv', 'Sci', 'Github', 'Algorithms', 'Prototype', 'Programming', 'Word', 'C', 'Api', 'Coding']

In [12]:
skills=[]
skills.append(' '.join(word for word in resume))

In [13]:
skills

['Chemicals Css Design Python Testing C++ Pyqt Computer science Html Engineering Database Keras Ui Analysis Training Modeling Statistics Opencv Sci Github Algorithms Prototype Programming Word C Api Coding']

In [14]:
import re

from ftfy import fix_text

def ngrams(string, n=3):
    string = fix_text(string) # fix text
    string = string.encode("ascii", errors="ignore").decode() #remove non ascii chars
    string = string.lower()
    chars_to_remove = [")","(",".","|","[","]","{","}","'"]
    rx = '[' + re.escape(''.join(chars_to_remove)) + ']'
    string = re.sub(rx, '', string)
    string = string.replace('&', 'and')
    string = string.replace(',', ' ')
    string = string.replace('-', ' ')
    string = string.title() # normalise case - capital at start of each word
    string = re.sub(' +',' ',string).strip() # get rid of multiple spaces and replace with a single
    string = ' '+ string +' ' # pad names for ngrams...
    string = re.sub(r'[,-./]|\sBD',r'', string)
    ngrams = zip(*[string[i:] for i in range(n)])
    return [''.join(ngram) for ngram in ngrams]

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
import re

In [16]:
vectorizer = TfidfVectorizer(min_df=1, analyzer=ngrams, lowercase=False)
tfidf = vectorizer.fit_transform(skills)

In [17]:
from sklearn.neighbors import NearestNeighbors
nbrs = NearestNeighbors(n_neighbors=1, n_jobs=-1).fit(tfidf)
test = (df['test'].values.astype('U'))

In [18]:
def getNearestN(query):
  queryTFIDF_ = vectorizer.transform(query)
  distances, indices = nbrs.kneighbors(queryTFIDF_)
  return distances, indices

In [19]:
distances, indices = getNearestN(test)
test = list(test) 
matches = []

In [20]:
for i,j in enumerate(indices):
    dist=round(distances[i][0],2)
  
    temp = [dist]
    matches.append(temp)
    
matches = pd.DataFrame(matches, columns=['Match confidence'])

In [21]:
df['match']=matches['Match confidence']
df1=df.sort_values('match')
df1[['Position', 'Company','Location']].head(10).reset_index()

,index,Position,Company,Location
0,684,Data Scientist,Atonarp,â€“ Bengaluru
1,80,Full-Stack Machine Learning Engineer/Data Scie...,Oracle,– Bengaluru
2,101,Machine learning expert,Insight Jedi,– Bengaluru
3,387,Senior Software Engineer - Data Science,The Straits Network,– Hyderabad
4,612,Systems Engineer (C++ Developer),Quadeye,– Gurgaon
5,1255,"Data Scientist, Global Data Science Center of ...",Visa,Bengaluru
6,32,Machine Learning Engineer,Involvio,– Bengaluru
7,1303,Data Scientist (Artificial Intelligence),SNC-Lavalin,Bengaluru
8,389,Director-Data science,Publicis Sapient,– Bengaluru
9,454,Senior Data Scientist - Natural Language Proce...,The Straits Network,– Hyderabad